#container {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

.submit-history-card {
    width: 100%;
    height: fit-content;
    margin: 2vh 0px 2vh 0px;
    background-color: #fff;
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
    border-radius: 2vh

}

.delete-button {
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    border: none;
    background-color: #d96c6c;
    padding: 0;
}

p {
    margin: 1vh;
}
